/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : Aug 22, 2016, 4:55:21 PM
    Author     : user
*/
@import url("https://fonts.googleapis.com/css?family=Roboto:400,500,700");
body,p,tr,td,table,div,span{
    font-family: 'Roboto', sans-serif;
}
body h6,h1,h2,h3,h4,h5,p,b,tr,td,span,th,div{
    color:#525252 !important;
}
@page {
    size: A4;
    /*         margin: 40px;
             margin-top: 100px;*/
}
@media print{

    /*        // size: A4;
            //margin: 30px;
            //margin: 20mm;*/




}
.main-tabl{
    margin: auto;
}
/*thead { display: table-header-group;   }*/
tfoot{display: table-footer-group;}
table { page-break-inside:auto;}
tr{ page-break-inside:avoid; page-break-after:auto; }

/*//h6 {page-break-before: always}*/
/*//table {page-break-after: always}*/
table.table{
    border: .1px solid #969696;
    border-collapse: collapse;
    width:100%;
}
.table th {
    border: .1px solid black;
    color: #525252;
    font-size: 11px;
    font-weight: bold;
}
.table td {
    border: .1px solid black;
    font-size: 8px;
    text-align: center;
    padding: 3px;
}
.tbl{
    border: 1px solid #525252 ! important;
}
.tb2 td {
    font-size: 9px;
}
.main{
    width:900px;
    margin: auto;
    font-family: 'Roboto', sans-serif;
    white-space: nowrap;
}
h6{
    margin-bottom: 2px;
    margin-top: 15px;
    font-size: 15px;
    color: #525252;
}
.content-body h6 {
    margin-bottom: 2px;
    margin-top: 15px;
    font-size: 10px;
    color: #525252;
}

.main-left{
    float: left;
}
.main-right{
    float: right;
}
.main-right h2{
    font-size: 24px;
    color: #4e4e4e;
}
.header{
    font-size: 12.5px;
    display: inline-block;
    width: 100%;
}
.footer{
    font-size: 12.5px;
    display: inline-block;
    width: 100%;
}
.header table{
    margin-top: 12px;
}
.heading{
    width: 98%;
    /*//margin-top: 26px;*/
    text-align: center;
    font-weight: bold;
    font-size: 17px;
}
.topcontent{
    width:100%;
    display:inline-block;
    padding-bottom: 12px;
}
.topcontent td{
    font-size: 9px;
}
.topcontent-left{
    float:left;
    padding-right: 118px;
}
.topcontent-center{
    float:left;
}
.topcontent-right{
    float:right;
}
.content{
    width:100%;
}
.content-body h6{
    margin-bottom: 3px;
    margin-top: 4px;
}
.content-description span{
    font-size: 10px;
    color: red;
    font-style: italic;
}
.para-heading{
    font-size: 10px;
    color: red;
    font-style: italic;
}
.para-content{
    font-weight: bold;
    font-size: 8px;
}
.para-content1{
    font-size: 8px;
}
.bankdetails{
    width: 100%;
    display: inline-block;
}
.bankdetails h6{
    color:red;
}
.bankdetails-left{
    width: 40%;
    float: left;
}
.bankdetails-right{
    width: 40%;
    float: right;
    padding-top: 24px;
}
.bankdetails h3{
    text-decoration: underline;
}
.footer{
    width: 100%;
    display: inline-block;
    font-size: 15px;
    color: #4e4e4e
}
.footer p{
    text-align: center;
    font-size: 8px;
    margin: 0px !important;
}
.address h4{
    text-align: left;
    text-decoration: underline;
}
.address p{
    text-align: left;
}
.address h3{
    text-decoration: underline;
}
.closeestimate-content td{
    font-size: 11px;
    text-align: left;
}

.sub-heading{
    margin-bottom: 4px;
    margin-top: 6px;
    font-size: 12px;
    color: #525252 !important;
}
.bank{
    width:100%;
    display:inline-block;
}
.bank-left{
    width:50%;
    float:left;
}
.bank-right{
    width: 50%;
    float: right;
    padding-top: 33px;
}
.bank  h6{
    margin-bottom: 4px;
    margin-top: 6px;
    font-size: 12px;
    color: #525252 !important;
}
.bank  p{
    margin-bottom: 4px;
    margin-top: 6px;
    font-size: 12px;
    color: #525252;
}
.bank td{
    font-size: 11px;
}
.close-estimate-footer{
    width:100%;
    display:inline-block;
}
.close-estimate-footer p{
    font-size: 10px;
    font-style: italic;
}
.close-left{
    width:50%;
    float:left;
    padding-top:76px;
}
.close-right{
    width:50%;
    float: right;
    /*margin-left: 21%;*/
}
.close-right h6{
    font-size: 12px;
    padding-left: 129px;
    color: #464545;
}
.signature{
    padding-left: 221px;
    padding-top: 45px;
}
.tbclose {
    padding-right: 104px;
    padding-bottom: 96px;
    padding-top: 50px;
}
.tbl3{
    padding-top: 10px;
    padding-bottom: 12px;
}
.receipts h6{
    margin-bottom: 4px;
    margin-top: 12px;
    font-size: 12px;
    color: #464545;
}

.footer-red{
    color:#f44336 !important;
}
.footer-blue2{
    color:#0d2fe8 !important;
    text-decoration: underline;
}
.footer-blue1{
    color:#2295f1 !important;
}